<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>

    </div>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>



            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <form action="/delete-user/<%= user.id %>" method="post">
                            <button>Delete</button>
                        </form>

                    </td>
                </tr>

                <% }) %>




        </table>
    </div>

    <!-- <div class="form">
        <form action="/create-user" method="POST">
            <fieldset>
                <legend>Add user</legend>


                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" />
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" />
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" />
                </div>
                <div class="input-group">
                    <button type="submit" class="save-btn">Save</button>
                </div>
            </fieldset>
        </form>
    </div> -->
</body>

</html>